<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722180858444-50o7vnbrrnvsa1tutkdkousbcu9unnb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722180858444-50o7vnbrrnvsa1tutkdkousbcu9unnb9</string>
	<key>API_KEY</key>
	<string>AIzaSyBu47oHBdMb8uxRxB7OsmXAwOb8AzWKr9A</string>
	<key>GCM_SENDER_ID</key>
	<string>722180858444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bumpedin</string>
	<key>PROJECT_ID</key>
	<string>bumpedin-8bcea</string>
	<key>STORAGE_BUCKET</key>
	<string>bumpedin-8bcea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722180858444:ios:e6dc7fe1cd452cff144ae9</string>
</dict>
</plist>